<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Active Users List</title>
    <style>
        #one {
    max-width: 600px; 
    margin: 20px auto;
    padding: 20px;
    border: 1px solid #7b7777;
    border-radius: 5px;
    background: #e8fcd4;
    text-align: center;
}
a{
    color: blue;
}
    </style>
</head>
<body>
    <div id="one">
    <h1>Active Users List</h1>
    <ul>
        <% Object.keys(active_users).forEach(id => { %>
            <li>ID: <a onclick="redirectToDetails('<%= id %>')"><%= id %> </a> Name: <%= active_users[id] %>
                <!-- <button onclick="redirectToDetails('<%= id %>')">Details</button>   -->
            </li>
        <% }); %>
    </ul>


    <button onclick="gotohome()">GOTO HOME</button>

</div>
    <script>
        function redirectToDetails(id) {
            // Redirect to the details page with the user's ID as a parameter
            window.location.href=`/display-detail?id=${id}`,'_blank';
        }

        function gotohome()
        {
            window.location.href="/"
        }
    </script>
</body>
</html>
