<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Active Users List</title>

    <script src="/socket.io/socket.io.js"></script>
    <style>
        #one {
    max-width: 600px; 
    margin: 20px auto;
    padding: 20px;
    border: 1px solid #7b7777;
    border-radius: 5px;
    background: #e8fcd4;
    text-align: center;
}
a{
    color: blue;
}


.popup {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    border: 1px solid #000;
    padding: 20px;
    z-index: 9999;
  }
.popup-content {
  background-color: #fefefe;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
}

.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

    </style>
</head>
<body>
    
    <div id="one">
    <h1>Active Users List</h1>
    <ul>
        <% Object.keys(active_users).forEach(id => { %>
            <li>ID: <a onclick="redirectToDetails('<%= id %>')"><%= id %> </a> Name: <%= active_users[id] %>
                <!-- <button onclick="redirectToDetails('<%= id %>')">Details</button>   -->
            </li>
        <% }); %>
    </ul>

    <button onclick="gotohome()">GOTO HOME</button>


    <div id="popup" class="popup">
        <h2>JSON Data      <button onclick="closePopup()">X</button></h2>
        
        <h4 id="jsonData"></h4> <!-- Element to display JSON data -->
       
      </div>
    

</div>
    
<script>
    const socket = io();   
    
    function redirectToDetails(id){
       socket.emit('fetch-data',id)
       socket.on('user-details', function(user) {
        console.log('Received user details:', user);
        // Handle the received user details as needed



    document.getElementById("jsonData").innerText = JSON.stringify(user, null, 2);
    document.getElementById("popup").style.display = "block";
});
     


}


function closePopup() {
  document.getElementById("popup").style.display = "none";
} 
function gotohome()
{
    window.location.href='/'
}

    </script>
</body>
</html>
